.pondering__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to full viewport height */
}

.spotify__playlist {
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a max-width for better responsiveness */
  margin-top: 20px; /* Add some space at the top */
}
